fastapi
uvicorn
crewai
langchain-community
python-dotenv
sqlalchemy
psycopg2-binary
celery
redis
google-cloud-logging
google-cloud-pubsub
google-cloud-functions
google-auth
google-auth-oauthlib
boto3
pyyaml
cryptography
requests
python-jose[cryptography]
passlib[bcrypt]
bcrypt<=4.0.1
PyGithub
sib-api-v3-sdk
PyJWT
cryptography
